.gameContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.gameLogContainer {
    display: flex;
    flex: 1;
    margin-left: 1rem;
}

.boardContainer {
    display: flex;
    flex: 1;
}