.gameLogWrapper {
  color: #34364C;
  overflow: hidden;
  min-width: 300px;
  min-height: 300px;
  position: relative;
  font-size: 14px;
  padding-top: 12px;
  border-radius: 8px;
  padding-left: 48px;
  padding-right: 12px;
  padding-bottom: 52px;
  background: #F4F7FA;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  @media (max-width: 700px) {
    font-size: 11px;
  }
}

.figure {
  width: 1rem;
  height: 1rem;
  align-items: center;
}